li{
    list-style: none;
}

img{
   max-width: 100%;
   height:auto;
}
h4{
    margin:0;
}

p{
    margin:0;
}
.form-container{
    display: flex;
}
.ul-container{
    width: 80%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
li{
    width: 200px;
    height: min-content;
    display: flex;
    flex-direction: column;
}
