li{
    list-style: none;
}

img{
    width: 300px;
}
h4{
    margin:0;
}

p{
    margin:0;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
li{
    width: 200px;
    height: 295px;
    display: flex;
    flex-direction: column;
}